/* src/component/home.css */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Aladin&display=swap');

.home-container {
  background-image: url('/home_background.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Advent Pro', sans-serif; /* Default font for the container */
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0; /* Ensure overlay is behind the header */
}

.home-content {
  text-align: center;
  color: white;
  z-index: 1; /* Ensure content is above the overlay */
}

.main-heading {
  font-size: 3em;
  margin: 0;
  font-family: 'Advent Pro', sans-serif; /* Apply Advent Pro to main heading */
}

.india {
  font-size: 5em;
  margin: 0;
  font-weight: bold;
  font-family: 'Aladin', cursive; /* Apply Aladin to India text */
}

.description {
  font-size: 1.2em;
  margin: 20px 0;
  max-width: 600px;
  font-family: 'Advent Pro', sans-serif; /* Apply Advent Pro to description */
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between buttons */
  margin-top: 30px;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none; /* Ensure the links look like buttons */
  font-weight:bold
}

.login-btn,
.signup-btn,
.restaurant-btn,
.book-table-btn {
  background-color: white;
  color: black;
}

.login-btn:hover,
.signup-btn:hover,
.restaurant-btn:hover,
.book-table-btn:hover {
  background-color: purple;
  color: white;
}

.restaurants-list {
  margin-top: 20px;
}

.restaurants-list p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.restaurants-list ul {
  list-style: none;
  padding: 0;
}

.restaurants-list li {
  font-size: 1.2em;
  margin-bottom: 5px;
}
